.tile-set {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}
.tile {
  overflow: hidden;
}
.tile__image {
  padding: 24px;
  padding-bottom: 0;
  box-sizing: border-box;
  max-height: 200px;
  object-fit: contain;
}
.tile__extra {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.4px;
}
.tile__title {
  height: 3em;
  font-size: 1.15em;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.tile__description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.tile__actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.tile__count-number {
  margin: 0 10px;
}
.tile__count-change {
  width: 32px;
  padding: 0;
}
